:root {
    --loading-colour: lavender;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background-color: lavenderblush;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    gap: 1rem;
}

input {
    padding: 10px;
    width: 25%;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: solid lightgrey 2px;
    background-color: azure;
}

button:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.loading-bar {
    width: 30%;
    background-color: bisque;
    height: 40px;
}

.bar {
    width: 0%;
    height: 100%;
    background-color: var(--loading-colour);
    transition: width 0.3s ease;
}

.loading-circle {
    border: 16px solid white;
    border-top: 16px solid var(--loading-colour);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* spin animation for loading circle */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 1s steps(12) infinite alternate, blink 800ms steps(12) infinite normal;
    border-right: 2px solid black;
}

/* typewriter animation for loading text */
@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 8%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }
    to {
        border-color: transparent;
    }
}