:root {
    --loading-colour: aqua;
}

body {
    background-color: lavenderblush;
}

.loading-bar {
    width: 100%;
    background-color: bisque;
    height: 30px;
}

.bar {
    width: 0%;
    height: 100%;
    background-color: var(--loading-colour);
    transition: width 0.3s ease;
}

.loading-circle {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--loading-colour);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
